<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from TV a la Carte, <%= @user.username %>!</h1>
    <p>
      Someone voted on one of your reviews!
    </p>
    <p>
      To check it out, just follow this link: <%= @url %>.
    </p>
  </body>
</html>
