@import "settings";

.profile {
  background-color: $black;
  border: 5px solid $light-gray;
  border-radius: 2rem;
}

.infopanel {
  background-color: $dark-gray;
  border-radius: 2rem;
  padding: 1rem;
}

.details {
  list-style: none;
}

.buttonrow {
  margin: 1rem;
}

strong {
  color: $body-background;
}
