<h1>Must Watch TV Shows</h1>

<div class="row index-row">
  <% @shows.each do |show| %>
  <div class="small-12 medium-6 large-3 columns">
    <div class"show-card">
      <div class="card-divider">
        <h2 class="title"><%= link_to show.title, show_path(show) %></h2>
      </div>
      <%= link_to image_tag(show.image_url), show_path(show) %>
    </div>
  </div>
  <% end %>
</div>
