<h1>Must Watch TV Shows</h1>

<div class="row">
  <% @shows.each do |show| %>
    <div class="small-3 columns">
      <div class"show-card">
        <div class="card-divider">
          <h3><%= link_to show.title, show_path(show) %></h3>
        </div>
        <div class="card-section">
          <p>Show Description: <%=  show.description %> </p>
          <p>Average Rating: <%=  show.average_rating %> </p>
        </div>
        <% if current_user %>
          <%= button_to "Add to Favorites", show_favorites_path(show), :method => :post %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
