<h1>Must Watch TV Shows</h1>

<div class="row index-row">
  <% @shows.each do |show| %>
  <div class="small-12 medium-6 large-3 columns">
    <div class"show-card">
      <div class="card-divider">
        <h2 class="title"><%= link_to show.title, show_path(show) %>
        <% if current_user %>
          <% if current_user && current_user.shows.include?(show) %>
            <%= link_to "Remove from Favorites", Favorite.find_by(user_id: current_user, show_id: show), method: :delete, class: "warning button" %>
          <% else %>
            <%= link_to "Add to Favorites", show_favorites_path(show, current_user), method: :post, class: "success button" %>
          <% end %>
        <% end %>
        </h2>
      </div>
      <%= link_to image_tag(show.image_url), show_path(show) %>
    </div>
  </div>
  <% end %>
</div>
